# Server Configuration
PORT=5000

# MongoDB (if you want to use it later)
MONGODB_URI=mongodb://localhost:27017/portfolio

# Nodemailer (if you want to use it later)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
